Qwen3-Coder-Next-GGUF
venv_gguf
audio_to_text/voice-prompt-venv
models

cpp_kokoro/build
cpp_kokoro/onnx
cpp_kokoro/model.onnx
cpp_kokoro/bazel-*
cpp_kokoro/MODULE.bazel.lock

cpp_whisper/build
cpp_whisper/whisper.cpp
cpp_whisper/models
cpp_whisper/bazel-*
cpp_whisper/MODULE.bazel.lock
cpp_whisper/whisper.cppddd/
cpp_voice_query/build
cpp_voice_query/include/nlohmann
**/.cache

cpp_voice_query/bazel-*
cpp_voice_query/MODULE.bazel.lock
cpp_voice_query/external

floriani_agent

.claude